/* * {
    margin: 0;
} */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

#logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    position: fixed;
    width: 90vw;
    z-index: 100;
}

.nav-links {
    display: flex;
    column-gap: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}
.nav-links a:hover {
    color: red;
}

#hero {
    background-image: url(../assets/images/heroimg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#hero-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

#subtext1 {
    font-size: 60px;
}
#subtext2 {
    font-size: 90px;
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: -1px;
}

.menu-button {
    background-color: white;
    color: red;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
}
.menu-button:hover {
    color: white;
    background-color: red;
}
#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    background-color: rgb(240, 240, 240);
}
.sub-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* about image dimensions styling */
#about-image {
    width: 100%;
    border-radius: 20px;
    height: 55vh;
    /* transition: transform 0.3s; */
    overflow: hidden;
    /* overflow-clip-margin: ; */
}

.image-style img:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.sub-header span:nth-child(1) {
    color: red;
    font-size: 30px;
    text-align: center;
}

.sub-header span:nth-child(2) {
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
}

#sub-headertext {
    text-align: center;
    width: 513px;
}

#about-text {

}

#about-link {
    display: flex;
}
#about-link a {
    display: flex;
    text-align: center;
}
#discover {
    background-image: url(../assets/images/discoverImg.jpeg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
}

#discover-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;  
}
#menu {
    background-color: #F5F2EC;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    padding: 100px 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    position: relative;
}
.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.group1 {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 520px;
    position: relative;
    overflow: hidden;
}
.group2 {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.group3 {
    height: 250px;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#subtext1 {
    font-size: 60px;
}

#subtext2 {
    font-size: 90px;
}

.menu-button {
    background-color: white;
    color: red;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    display: flex;
    border-radius: 6px;
}
.flex-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 100px 100px;
    column-gap: 40px;
}
.flex-container img {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    object-fit: cover
    ;
    /* height: auto; */
}
.our-story {
    text-decoration: none;
    /* column-gap: 20px; */
    color: black;
    font-size: 11px;
}
.our-story:hover {
    color: red;
}
.sub-text {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3px;
}
.sub-text:hover {
    color: red;
}

#video-sec {
    width: 100vw;
    height: 60vh;
    position: relative;
    margin-bottom: 100px;
}
#video {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
}
#video-overlay .sub-header span:last-child {
    color: white;
}

#reservation {
    background-color: #EFEFEF;
    padding: 120px;
    display: flex;
    justify-content: space-between;
}
#reservation img {
    width: 40%;
    border-radius: 30px;
}
#input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.form-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#input-grid input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    /* border-color: ; */
}
.centered-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centered-button button {
    background-color: black;
    color: white;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.centered-button button:hover {
    background-color: red;
}
.ourmenu-text a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 45%;
    left: 33%;
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    letter-spacing: 2PX;
}
.ourmenu-text a:hover {
    color: white;
    background-color: red;
}

/* hover effect on the images on menu section */
.group1 img:hover {
    transform: scale(1.1);
    transition: transform 1s;
}
.group2 img:hover {
    transform: scale(1.1);
    transition: transform 1s;
}
.group3 img:hover {
    transform: scale(1.1);
    transition: transform 1s;
}
.footer-container {
    display: flex;
    padding: 60px;
    column-gap: 20px;
    background-color: rgb(34, 34, 34);
    color: white;
    margin: 0 30px;
}
.footer-container a {
    text-decoration: none;
    color: red;
}
#gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    position: relative;
}
#gallery-grid img {
    width: 6vw;
    height: 12vh;
}
#gallery-grid:hover::before {
    background-color: rgba(255, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}





